{%  extends 'layout.html.twig' %}

{% block content %}
    <div class="profileMain">
        <div class="accountMenu">
            <div class="accountSelect">
                <a href="?action=account">
                    <p><span>mon profil</span></p>
                </a>
                <div class="accountUnderline"></div>
                <a href="?action=inbox">
                    <p>messagerie</p>
                </a>
                <div class="accountUnderline"></div>
                <a href="#">
                    <p>mes contacts</p>
                </a>
            </div>
            <div class="containerAccount">
                {% for key, name in currentUser['contact'] %}
                    <div class="accountContacts contact">
                        <span>
                            <span class="contactName">{{ key }}</span>
                            <input type="number" class="notForUser" value="{{ name['id'] }}">
                        </span>
                        <div class="span">
                            <span class="status"><a href="?action=showSendingMessageForm&dest={{ key }}" class="mp">MP</a></span><span class="status">/</span>
                            <span class="status"><a href="invalid" class="suppress">supprimer</a></span>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="accountContent" id="receptor">
            <div class="topPart"></div>
            <div class="accountInfo">
                <div class="accountUnderline"></div>
                <div class="typeOfInfo">
                    <div class="nameOfInfo">nom d'utilisateur</div>
                    <div class="valueInfo">{{ currentUser['pseudo'] }}</div>
                </div>
                <div class="accountUnderline"></div>
                <div class="typeOfInfo">
                    <div class="nameOfInfo">mot de passe</div>
                    <div class="valueInfo">*******</div>
                </div>
                <div class="accountUnderline"></div>
                <div class="typeOfInfo">
                    <div class="nameOfInfo">indication mot de passe</div>
                    <div class="valueInfo">{{ currentUser['indic'] }}</div>
                </div>
                <div class="accountUnderline"></div>
                <div class="typeOfInfo">
                    <div class="nameOfInfo">e-mail</div>
                    <div class="valueInfo">{{ currentUser['email'] }}</div>
                </div>
                <div class="accountUnderline"></div>
                <div class="typeOfInfo">
                    {% if currentUser['type'] == 'victime' %}
                        <div class="nameOfInfo">date de naissance</div>
                        <div class="valueInfo">{{ currentUser['birthdate'] }}</div>
                    {% else %}
                        <div class="nameOfInfo">profession</div>
                        <div class="valueInfo">
                            {% if currentUser['type'] == 'psy' %}
                                psychologue
                            {% else %}
                                juriste
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
                {% if currentUser['type'] != 'victime' %}
                    <div class="accountUnderline"></div>
                    <div class="typeOfInfo">
                        <div class="nameOfInfo">places disponibles</div>
                        <div class="valueInfo">{{ currentUser['free_slot'] }}</div>
                    </div>
                {% endif %}
                <div class="accountUnderline"></div>
                <div class="typeOfInfo">
                    <div class="nameOfInfo">département</div>
                    <div class="valueInfo">{{ currentUser['location'] }}</div>
                </div>
                <div class="accountUnderline"></div>
                <div class="accountEdit">
                    <input type="submit" id="suppressAccount" value="supprimer mon compte" class="deleteBtn">
                    <input type="submit" id="enableModif" value="modifier" class="contactBtn">
                </div>
            </div>
        </div>
    </div>

    <script src="web/JS/connected/account.js"></script>
    <script src="web/JS/connected/contactList.js"></script>
{% endblock %}
