{%  extends 'layout.html.twig' %}

{% block script %}
    <script src="web/JS/connected.js"></script>
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    {{ dump(currentUser['contact']) }}

    <h1>Hello {{ currentUser['pseudo'] }} !</h1>

    <a href="?action=logout" id="logout">log out</a>

    <a href="?action=getReceivedMessage" id="logout">messages reçus : </a>

    <a href="?action=getSentMessage" id="logout">messages envoyés : </a>

    <p>Et la, c'est pour changer les infos utilisateur</p>

    <form name="changeData">
        <input type="password" name="oldPassword" placeholder="enter your current password">
        <input type="text" name="location" placeholder="enter your location" value="{{ currentUser['location'] }}">
        <input type="email" name="email" placeholder="enter your email adress" value="{{ currentUser['email'] }}">
        <input type="text" name="pseudo" placeholder="enter your pseudo" value="{{ currentUser['pseudo'] }}">
        <input type="password" name="newPassword" placeholder="enter your new password">
        <input type="password" name="confirmationOfPassword" placeholder="confirm your new password">
        <input type="text" name="indic" placeholder="enter your new indication of password" value="{{ currentUser['indic'] }}">
        <input type="submit">
    </form>

    <p>Et la, c'est pour supprimer le compte</p>

    <form name="suppress">
        <input type="password" name="password" placeholder="enter your password">
        <input type="submit">
    </form>

    <p>
        Et la, c'est pour envoyer un message.
    </p>

    <form name="sendMessage">
        <input type="text" name="object" placeholder="object of your mail">
        <input type="text" name="dest" placeholder="enter the name of the person to who you want to send this message">
        <textarea name="content" placeholder="enter your content"></textarea>
        <input type="file" name="PJ">
        <input type="submit">
    </form>

    {% if currentUser['type'] != 'victime' %}
        <form name="changeFreeSlot">
            <input name="freeSlot" type="number" value="{{ currentUser['free_slot'] }}">
            <input type="submit">
        </form>
    {% else %}
        <p>To contact a professional!</p>
        <form name="findPro">
            <label for="proUsername">Username of the pro.</label>
            <input name="username" type="text" id="proUsername"><br>
            <label for="autoMatchButton">Automatic matching.</label>
            <input type="checkbox" name="autoMatch" value="true" id="autoMatchButton"><br>

            <span>Select your professional type!</span><br>
            <label for="lawyerContactRadioButton">lawyer : </label>
            <input type="radio" name="professionalType" value="lawyer" id="lawyerContactRadioButton"><br>
            <label for="psyRadioContactButton">psy : </label>
            <input type="radio" name="professionalType" value="psy" id="psyRadioContactButton"><br>

            <input type="submit">
        </form>

        <p>To abandon a professional</p>

        <form name="abandonPro">
            <span>Select your professional type!</span><br>
            <label for="lawyerSuppressRadioButton">lawyer : </label>
            <input type="radio" name="professionalType" value="lawyer" id="lawyerSuppressRadioButton"><br>
            <label for="psySuppressRadioButton">psy : </label>
            <input type="radio" name="professionalType" value="psy" id="psySuppressRadioButton"><br>

            <textarea name="reason" placeholder="enter the reason why you want to stop this relationship"></textarea>

            <input type="submit">
        </form>
    {% endif %}
{% endblock %}
