{%  extends 'layout.html.twig' %}

{% block content %}
<div class="profileMain">
    <div class="accountMenu">
        <div class="accountSelect">
            <a href="?action=account">
                <p><span>retour au profil</span></p>
            </a>
            <div class="accountUnderline"></div>
            <a href="#" id="writeNewMessage">
                <p class="newMsg">nouveau message</p>
            </a>
            <div class="categories">
                <div>
                    <a href="?action=inbox"><span class="categoriesName">Boîte de réception</span></a>
                </div>
                <div>
                    <a href="?action=consultSentMessage"><span class="categoriesName">Envoyés</span></a>
                </div>
            </div>
            <div class="accountUnderline"></div>
            <a href="#">
                <p>mes contacts</p>
            </a>
        </div>
        {% for key, name in currentUser['contact'] %}
            <div class="accountContacts contact">
                <span>
                    {{ key }}
                    <input type="number" class="notForUser" value="{{ name['id'] }}">
                </span>
                <span class="status">disponible</span>
            </div>
        {% endfor %}
    </div>
    <div class="accountContent" id="receptor">
        <div class="topPart">
            <div>
                <span>
                    {% if receptorOrSender == 'receptor' %}
                        Element envoyés
                    {% else %}
                        Boîte de réception
                    {% endif %}
                </span> <span id="messageNumber">{{ message|length }}</span> messages</div>
        </div>
        <div class="inboxInfo">
            <div class="inboxActions">
                <button id="suppressEmail">supprimer</button>
            </div>

            <div class="inboxUnderline"></div>
            {% for mail in message %}
                <div class="typeOfInfo">
                    <input type="checkbox" class="checkbox checkboxMailId" value="{{ mail['id'] }}" name="mailId">
                    <div class="content">
                        <div class="nameDate">
                            <span class="name">{{ mail[receptorOrSender]['pseudo'] }}</span>
                        </div>
                        <p>{{ mail['shortObject'] }}</p>
                    </div>
                </div>
                <div class="inboxUnderline"></div>
            {% endfor %}
        </div>
    </div>
</div>

    <script src="web/JS/connected/inbox.js"></script>
    <script src="web/JS/connected/contactList.js"></script>
{% endblock %}