{%  extends 'layout.html.twig' %}

{% block script %}
    <script src="web/JS/mail.js"></script>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
    <a href="?action=logout" id="logout">log out</a>

    <p>{{ type }} message!</p>

    {% for key, mail in currentUser['message'] %}
        <div class="mail{{ key }}">
            <span>object: {{ mail['object'] }}</span><br>
            <span>Sent by : {{ mail['sender']['pseudo'] }}</span>
            <button class="answer">answer</button><br>
            <span> To : {{ mail['receptor']['pseudo'] }}</span>
                <p>
                    {{ mail['content']|raw }}
                </p><br>
            {% if mail['PJ'] is not empty %}
                <span class="download">PJ: {{ mail['PJ'] }}</span><br>
                <form action="?action=downloadPj" method="post">
                    <input name="notForUser" type="number" value="{{ mail['id'] }}">
                    <input type="submit">
                </form>
            {% endif %}

            <p>suppression</p>

            <form name="suppressMessage" class="suppressMessage">
                <input type="number" name="notForUser" value="{{ mail['id'] }}">
                <input type="submit">
            </form>
        </div>
    {% endfor %}
{% endblock %}
